<h1 class="text-3xl font-bold mb-4">Itineraries</h1>

<% @itineraries.each do |itinerary| %>
  <div class="bg-white bg-opacity-70 rounded-xl p-4">
    <h5 class="text-xl font-semibold text-slate-500 hover:text-slate-700">
      <a href="<%= itinerary_path(itinerary) %>"><%= itinerary.city %></a>
    </h5>
    <p class="text-sm text-slate-500">
      Created <%= itinerary.date %>
    </p>
  </div>
  <br class="p-2">
<% end %>
