<div data-controller="carousel">
  <% (1..6).to_a.each do |num| %>
    <%= content_tag :div, data: { carousel_target: 'photo', action: 'click->carousel#nextSlide' } do %>
      <%= image_tag "slide-#{num}.jpg", class: 'w-100', style: 'border-bottom-right-radius: 12px;' %>
    <% end %>
  <% end %>
</div>
