---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<GEOCODE_API_KEY>&query=NONEXISTENT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 0adbfdcb-bbae-4a75-bf36-1043fe8a317c
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24662'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.126'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Mon, 16 Oct 2023 02:54:01 GMT
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?lat&limit=5&lon&radius=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<TRAIL_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '2033'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '2033'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":"invalid_input","message":"For geo search, lat, lon, and radius
        must all be non-zero.","data":{"status":404}}'
  recorded_at: Mon, 16 Oct 2023 02:54:02 GMT
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude&limit=5&longitude&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 132322259e2bd918
      X-Routing-Service:
      - routing-main--useast1-d8f5f795-8v5dz; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-190-102-useast1bprod
      X-Extlb:
      - 10-65-190-102-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Please specify
        a location or a latitude and longitude"}}'
  recorded_at: Mon, 16 Oct 2023 02:54:03 GMT
recorded_with: VCR 6.2.0
