---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<GEOCODE_API_KEY>&query=Nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - ff1c8480-5b78-4094-8e79-af7d7345a0df
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24978'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.089'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Wed, 22 Nov 2023 01:50:32 GMT
- request:
    method: get
    uri: https://wft-geo-db.p.rapidapi.com/v1/geo/cities?minPopulation=50000&namePrefix=Nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<RAPID_API_KEY>"
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
      X-Rapidapi-Proxy-Response:
      - 'true'
    body:
      encoding: UTF-8
      string: '{"message":"You have exceeded the rate limit per second for your plan,
        BASIC, by the API provider"}'
  recorded_at: Wed, 22 Nov 2023 01:50:33 GMT
recorded_with: VCR 6.2.0
