---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<GEOCODE_API_KEY>&query=Nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 40846ec4-873f-48c2-aee2-627f973410de
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24671'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.070'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Mon, 16 Oct 2023 02:48:50 GMT
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?lat&limit=5&lon&radius=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<TRAIL_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '2344'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '2344'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":"invalid_input","message":"For geo search, lat, lon, and radius
        must all be non-zero.","data":{"status":404}}'
  recorded_at: Mon, 16 Oct 2023 02:48:51 GMT
recorded_with: VCR 6.2.0
