---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<GEOCODE_API_KEY>&query=Nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - 1bd2fb56-fe7f-4006-88f2-c36e01e1a475
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24415'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.061'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Thu, 19 Oct 2023 21:20:42 GMT
- request:
    method: get
    uri: https://wft-geo-db.p.rapidapi.com/v1/geo/cities?minPopulation=50000&namePrefix=Nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<TRAIL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Requests-Limit:
      - '1000'
      X-Ratelimit-Requests-Remaining:
      - '981'
      X-Ratelimit-Requests-Reset:
      - '80322'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: UTF-8
      string: '{"data":[],"metadata":{"currentOffset":0,"totalCount":0}}'
  recorded_at: Thu, 19 Oct 2023 21:20:42 GMT
recorded_with: VCR 6.2.0
