---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude&limit=5&longitude&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - a7d30a22d95f9c6b
      X-Routing-Service:
      - routing-main--useast1-d8f5f795-npw4m; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-111-104-useast1aprod
      X-Extlb:
      - 10-65-111-104-useast1aprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Please specify
        a location or a latitude and longitude"}}'
  recorded_at: Mon, 16 Oct 2023 05:43:38 GMT
recorded_with: VCR 6.2.0
