---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<GEOCODE_API_KEY>&query=Nonexistent
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - b6edacbd-7967-464e-b43d-c263946576d6
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24669'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.086'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[]}'
  recorded_at: Mon, 16 Oct 2023 02:48:52 GMT
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude&limit=5&longitude&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - b98e46855ef36197
      X-Routing-Service:
      - routing-main--useast1-d8f5f795-jhl66; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-190-102-useast1bprod
      X-Extlb:
      - 10-65-190-102-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Please specify
        a location or a latitude and longitude"}}'
  recorded_at: Mon, 16 Oct 2023 02:48:52 GMT
recorded_with: VCR 6.2.0
