---
http_interactions:
- request:
    method: get
    uri: https://wft-geo-db.p.rapidapi.com/v1/geo/cities?minPopulation=50000&namePrefix=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<TRAIL_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Ratelimit-Requests-Limit:
      - '1000'
      X-Ratelimit-Requests-Remaining:
      - '980'
      X-Ratelimit-Requests-Reset:
      - '80321'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":126880,"wikiDataId":"Q16554","type":"CITY","city":"Denver","name":"Denver","country":"United
        States of America","countryCode":"US","region":"Colorado","regionCode":"CO","regionWdId":"Q1261","latitude":39.739166666,"longitude":-104.984722222,"population":715522},{"id":3099661,"wikiDataId":"Q15906757","type":"ADM2","city":"Denver
        County","name":"Denver County","country":"United States of America","countryCode":"US","region":"Colorado","regionCode":"CO","regionWdId":"Q1261","latitude":39.7392,"longitude":-104.985,"population":715522}],"metadata":{"currentOffset":0,"totalCount":2}}'
  recorded_at: Thu, 19 Oct 2023 21:20:43 GMT
recorded_with: VCR 6.2.0
