---
http_interactions:
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchNearby
    body:
      encoding: UTF-8
      string: '{"includedTypes":["hospital"],"maxResultCount":5,"locationRestriction":{"circle":{"center":{"latitude":39.740959,"longitude":-104.985798},"radius":5000}}}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - AIzaSyCJ33zmfR8Sd3whmTBxHYBrrpx-XW7jC3w
      X-Goog-Fieldmask:
      - places.formattedAddress,places.displayName
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "places": [
            {
              "formattedAddress": "777 Bannock St, Denver, CO 80204, USA",
              "displayName": {
                "text": "Denver Health",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "1375 E 19th Ave, Denver, CO 80218, USA",
              "displayName": {
                "text": "Saint Joseph Hospital",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "1719 E 19th Ave, Denver, CO 80218, USA",
              "displayName": {
                "text": "Presbyterian St. Luke's Medical Center",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "4567 E 9th Ave, Denver, CO 80220, USA",
              "displayName": {
                "text": "Rose Medical Center",
                "languageCode": "en"
              }
            },
            {
              "formattedAddress": "1400 Jackson St, Denver, CO 80206, USA",
              "displayName": {
                "text": "National Jewish Health",
                "languageCode": "en"
              }
            }
          ]
        }
  recorded_at: Tue, 21 Nov 2023 22:47:40 GMT
recorded_with: VCR 6.2.0
