---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?categories=bakeries&latitude=39.740959&limit=5&longitude=-104.985798&radius=15000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - f31f42e2b88ad058
      X-Routing-Service:
      - routing-main--useast1-d8f5f795-csthn; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000.0'
      Ratelimit-Remaining:
      - '4940.0'
      Ratelimit-Resettime:
      - '2023-10-25T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-110-68-useast1aprod
      X-Extlb:
      - 10-65-110-68-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "XluydvQpT75gjiuRSclhcQ", "alias": "the-denver-central-market-denver-2",
        "name": "The Denver Central Market", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/T3il49tjzYbnKg59PyFwnA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/the-denver-central-market-denver-2?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 562, "categories": [{"alias": "bakeries", "title": "Bakeries"},
        {"alias": "meats", "title": "Meat Shops"}, {"alias": "food_court", "title":
        "Food Court"}], "rating": 4.5, "coordinates": {"latitude": 39.75936357492905,
        "longitude": -104.98454807433254}, "transactions": [], "price": "$$", "location":
        {"address1": "2669 Larimer St", "address2": "", "address3": null, "city":
        "Denver", "zip_code": "80205", "country": "US", "state": "CO", "display_address":
        ["2669 Larimer St", "Denver, CO 80205"]}, "phone": "", "display_phone": "",
        "distance": 2041.0193004532712}, {"id": "OJt3oJWYyiIIM4LQY0MGWg", "alias":
        "noisette-restaurant-and-bakery-denver", "name": "Noisette Restaurant & Bakery",
        "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/DXu3GaU0gpslftnBF1WrCA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/noisette-restaurant-and-bakery-denver?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count[...]
