---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude=39.740959&limit=5&longitude=-104.985798&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000.0'
      X-Routing-Service:
      - routing-main--useast1-d8f5f795-49qcj; site=public_api_v3
      Ratelimit-Resettime:
      - '2023-10-17T00:00:00+00:00'
      Ratelimit-Remaining:
      - '4982.0'
      X-Zipkin-Id:
      - c8c2a6017e625ece
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-190-102-useast1bprod
      X-Extlb:
      - 10-65-190-102-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "v17HR-dKH3ny_6SZBnNE2w", "alias": "meadow-lark-farm-dinners-denver",
        "name": "Meadow Lark Farm Dinners", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/x7_1Tg8Vdmpjn-tJp-fgJQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/meadow-lark-farm-dinners-denver?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 7, "categories": [{"alias": "italian", "title": "Italian"}],
        "rating": 5.0, "coordinates": {"latitude": 39.73121, "longitude": -104.98225},
        "transactions": [], "price": "$$$$", "location": {"address1": "", "address2":
        "", "address3": "", "city": "Denver", "zip_code": "80203", "country": "US",
        "state": "CO", "display_address": ["Denver, CO 80203"]}, "phone": "+13037105336",
        "display_phone": "(303) 710-5336", "distance": 1116.0612366487146}, {"id":
        "o2aB42fxMUCEr9KQ6libAw", "alias": "fanwich-food-truck-denver-4", "name":
        "Fanwich Food Truck", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/_xJAeeR2qVjh61gX1NSCkw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fanwich-food-truck-denver-4?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 5, "categories": [{"alias":[...]
