---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<GEOCODE_API_KEY>&query=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - f9b78c14-11d7-4578-9103-5ed9e28f6efb
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24670'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.141'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":39.740959,"longitude":-104.985798,"type":"locality","name":"Denver","number":null,"postal_code":null,"street":null,"confidence":1,"region":"Colorado","region_code":"CO","county":"Denver
        County","locality":"Denver","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver,
        CO, USA"},{"latitude":32.968657,"longitude":-102.830376,"type":"locality","name":"Denver
        City","number":null,"postal_code":null,"street":null,"confidence":1,"region":"Texas","region_code":"TX","county":"Yoakum
        County","locality":"Denver City","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver City,
        TX, USA"},{"latitude":35.535494,"longitude":-81.033744,"type":"[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude=39.740959&limit=5&longitude=-104.985798&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Remaining:
      - '5000.0'
      Ratelimit-Resettime:
      - '2023-10-17T00:00:00+00:00'
      X-Routing-Service:
      - routing-main--useast1-d8f5f795-9lq69; site=public_api_v3
      Ratelimit-Dailylimit:
      - '5000.0'
      X-Zipkin-Id:
      - 73799384a0e0bc74
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-138-56-useast1bprod
      X-Extlb:
      - 10-65-138-56-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "v17HR-dKH3ny_6SZBnNE2w", "alias": "meadow-lark-farm-dinners-denver",
        "name": "Meadow Lark Farm Dinners", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/x7_1Tg8Vdmpjn-tJp-fgJQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/meadow-lark-farm-dinners-denver?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 7, "categories": [{"alias": "italian", "title": "Italian"}],
        "rating": 5.0, "coordinates": {"latitude": 39.73121, "longitude": -104.98225},
        "transactions": [], "price": "$$$$", "location": {"address1": "", "address2":
        "", "address3": "", "city": "Denver", "zip_code": "80203", "country": "US",
        "state": "CO", "display_address": ["Denver, CO 80203"]}, "phone": "+13037105336",
        "display_phone": "(303) 710-5336", "distance": 1116.0612366487146}, {"id":
        "o2aB42fxMUCEr9KQ6libAw", "alias": "fanwich-food-truck-denver-4", "name":
        "Fanwich Food Truck", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/_xJAeeR2qVjh61gX1NSCkw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/fanwich-food-truck-denver-4?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 5, "categories": [{"alias":[...]
