---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<GEOCODE_API_KEY>&query=Denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - dc2e70ef-c37f-456f-bf8e-eabfe05771f7
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24674'
      X-Increment-Usage:
      - '1'
      X-Request-Time:
      - '0.140'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"latitude":39.740959,"longitude":-104.985798,"type":"locality","name":"Denver","number":null,"postal_code":null,"street":null,"confidence":1,"region":"Colorado","region_code":"CO","county":"Denver
        County","locality":"Denver","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver,
        CO, USA"},{"latitude":32.968657,"longitude":-102.830376,"type":"locality","name":"Denver
        City","number":null,"postal_code":null,"street":null,"confidence":1,"region":"Texas","region_code":"TX","county":"Yoakum
        County","locality":"Denver City","administrative_area":null,"neighbourhood":null,"country":"United
        States","country_code":"USA","continent":"North America","label":"Denver City,
        TX, USA"},{"latitude":35.535494,"longitude":-81.033744,"type":"[...]
