---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude=39.740959&limit=5&longitude=-104.985798&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - e5e357d8a70959af
      Ratelimit-Dailylimit:
      - '5000.0'
      Ratelimit-Remaining:
      - '4980.0'
      X-Routing-Service:
      - routing-main--useast1-d8f5f795-jzxlk; site=public_api_v3
      Ratelimit-Resettime:
      - '2023-10-20T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-138-56-useast1bprod
      X-Extlb:
      - 10-65-138-56-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "mKjF44iID1Vy0Ti8fk2gKQ", "alias": "vinny-and-marie-s-italian-street-food-denver",
        "name": "Vinny and Marie\u2019s Italian Street Food", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/vuHT169XEuifVAzZ6rhUcA/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/vinny-and-marie-s-italian-street-food-denver?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 8, "categories": [{"alias": "foodtrucks", "title": "Food Trucks"},
        {"alias": "foodstands", "title": "Food Stands"}, {"alias": "italian", "title":
        "Italian"}], "rating": 5.0, "coordinates": {"latitude": 39.77161931674074,
        "longitude": -104.88237028632383}, "transactions": [], "location": {"address1":
        null, "address2": null, "address3": null, "city": "Denver", "zip_code": "80238",
        "country": "US", "state": "CO", "display_address": ["Denver, CO 80238"]},
        "phone": "+17207623950", "display_phone": "(720) 762-3950", "distance": 9475.897299173606},
        {"id": "jk7hrDdCbWuJ8rIQ8Bb5Fg", "alias": "your-coffee-guy-littleton", "name":
        "Your Coffee Guy", "image_url": "https://s3-media4.fl.yelpcdn.com/bphoto/4ECH4UECq92hrBrvDy1Whg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/your-coffee-guy-littleton?adjust_creative=3gRykLgv5-_vxngoRlAFrQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=3gRykLgv5-_vxngoRlAFrQ",
        "review_count": 7, "categories": [{"alias": "coffee[...]
