---
http_interactions:
- request:
    method: get
    uri: https://api.flightstats.com/flex/airports/rest/v1/json/withinRadius/-104.985798/39.740959/50?appId=431ee7c8&appKey=be74f2ce527d57ec146614cb5207d908
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"airports":[{"fs":"01V","iata":"","icao":"","faa":"01V","name":"Aurora
        Airport","city":"Aurora","stateCode":"CO","countryCode":"US","countryName":"United
        States","regionName":"North America","timeZoneRegionName":"America/Denver","weatherZone":"","localTime":"2023-10-20T13:29:52.752","utcOffsetHours":-6.0,"latitude":39.733331,"longitude":-104.65248,"elevationFeet":5669,"classification":5,"active":true,"weatherUrl":"https://api.flightstats.com/flex/weather/rest/v1/json/all/01V?codeType=fs","delayIndexUrl":"https://api.flightstats.com/flex/delayindex/rest/v1/json/airports/01V?codeType=fs"},{"fs":"18V","iata":"","icao":"","faa":"18V","name":"Platte
        Valley","city":"Hudson","stateCode":"CO","countryCode":"US","countryName":"United
        States","regionName":"North America","timeZoneRegionName":"America/Denver","weatherZone":"","localTime":"2023-10-20T13:29:52.752","utcOffsetHours":-6.0,"latitude":40.249833,"longitude":-104.710778,"elevationFeet":4965,"classification":5,"active":true,"weathe[...]
