---
http_interactions:
- request:
    method: get
    uri: http://api.positionstack.com/v1/forward?access_key=<GEOCODE_API_KEY>&query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
      X-Apilayer-Transaction-Id:
      - a877e048-2d96-42a0-b88a-d2da63ea2acf
      X-Quota-Limit:
      - '25000'
      X-Quota-Remaining:
      - '24664'
      X-Increment-Usage:
      - '1'
    body:
      encoding: UTF-8
      string: '{"error":{"code":"validation_error","message":"Request failed with
        validation error","context":{"query":{"type":"invalid_query","message":"query
        must have at 3 character\u0027s"}}}}'
  recorded_at: Mon, 16 Oct 2023 02:53:59 GMT
- request:
    method: get
    uri: https://trailapi-trailapi.p.rapidapi.com/activity/?lat&limit=5&lon&radius=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Rapidapi-Key:
      - "<TRAIL_API_KEY>"
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Link:
      - <https://www.singletracks.com/wp-json/>; rel="https://api.w.org/"
      Allow:
      - GET
      X-Ratelimit-Map-Data-Limit:
      - '10'
      X-Ratelimit-Map-Data-Remaining:
      - '10'
      X-Ratelimit-Map-Data-Reset:
      - '2035'
      X-Ratelimit-Regular-Requests-Limit:
      - '500'
      X-Ratelimit-Regular-Requests-Remaining:
      - '500'
      X-Ratelimit-Regular-Requests-Reset:
      - '2035'
      X-Rapidapi-Version:
      - 1.2.8
      X-Rapidapi-Region:
      - AWS - us-west-2
    body:
      encoding: ASCII-8BIT
      string: '{"code":"invalid_input","message":"For geo search, lat, lon, and radius
        must all be non-zero.","data":{"status":404}}'
  recorded_at: Mon, 16 Oct 2023 02:54:00 GMT
[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?category=food&latitude&limit=5&longitude&sort_by=rating
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <YELP_API_KEY>
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - 4a7566c0e002e171
      X-Routing-Service:
      - routing-main--useast1-d8f5f795-npw4m; site=public_api_v3
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-156-238-useast1bprod
      X-Extlb:
      - 10-65-156-238-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "VALIDATION_ERROR", "description": "Please specify
        a location or a latitude and longitude"}}'
  recorded_at: Mon, 16 Oct 2023 02:54:01 GMT
recorded_with: VCR 6.2.0
