<div class="p-4 text-center">
  <h1 class="text-3xl">What is <b>Skedaddle</b>?</h1>
  <br>
  <h3><b>Custom Itineraries</b></h3>
  <p>Skedaddle provide personalized recommendations based on your preferences and interests, ensuring that you
    have the best travel experience tailored to your needs.</p>
  <br>
  <h3><b>Save Time and Stress</b></h3>
  <p>Skedaddle takes the hassle out of travel planning by providing you with all the information you need in one
    place. Say goodbye to endless searching and scrolling - with Skedaddle, you can save time and stress and
    focus on enjoying your trip.</p>
  <br>
  <p>Got any questions? Please don't hesitate to
    <%= link_to 'contact', contact_path, class: 'font-bold text-slate-600 hover:text-slate-700' %>
    us directly.</p>
</div>
