<%= render Core::CarouselComponent.new do %>
  <%= turbo_frame_tag 'home' do %>
    <div class="p-4 text-center">
      <h1 class="text-3xl">What is <b>Skedaddle</b>?</h1>
      <br>
      <p>Skedaddle is a travel app built with Ruby on Rails that creates a custom itinerary for a given city, address
        or location. An itinerary may include parks, restaurants, museums and more.</p>
      <br>
      <p>This app is the continued solo exploration of a group project for the Backend Engineering program at Turing
        School of Software & Design.</p>
      <br>
      <p>Got any questions? Please don't hesitate to
        <%= link_to 'contact', contact_path, class: 'font-bold text-slate-600 hover:text-slate-700' %>
        us directly.</p>
    </div>
  <% end %>
<% end %>
