<div class="p-4 text-center">
  <h1 class="text-3xl font-bold">500 Stormy Weather</h1>
  <br>
  <p>Uh oh, looks like our servers have hit some turbulence!</p>
  <br>
  <p>We're experiencing some technical difficulties, but don't unpack your bags just yet.</p>
  <br>
  <p>Click to <%= link_to 'return home', root_path, class: 'font-bold' %> or take a step
    <%= link_to 'back', :back, class: 'font-bold' %> and let's plot a new course to your next adventure.</p>
</div>
