/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#background-image {
  width: auto;
  background-image: url("mountains.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

@media (max-width: 640px) {
  #background-image {
    background-image: linear-gradient(#006d77, #83c5be, #e29578);
    background-attachment: scroll;
  }
}

a, button {
  font-weight: bold;
  color: #64748B;
}

a:hover, button:hover {
  color: #334155;
}

input + label {
  cursor: pointer;
}

img {
  width: 800px;
  height: 600px;
  object-fit: cover;
}

input:checked + label {
  font-weight: bold;
  color: #334155;
}

.pagination a:hover {
  color: #334155;
}
