/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 #background-image {
   width: auto;
   background-image: url("mountains.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center center;
   height: 100%;
   width: 100%;
   position: fixed;
   z-index: -1;
 }

 a {
  font-weight: bold;
  color: #64748B;
 }

 a:hover {
   color: #334155;
 }

 button {
  font-weight: bold;
   color: #64748B;
 }

 button:hover {
   color: #334155;
 }

 img {
   float: left;
   width: 800px;
   height: 600px;
   object-fit: cover;
 }

 .blue-btn {
   background-color: #3B82F6;
   color: #ffffff;
   font-weight: bold;
   padding: 0.5rem 1rem;
   border-radius: 0.25rem;
 }

 .blue-btn:hover {
   background-color: #1E40AF;
 }

 .image-format {
   width: 125px;
   height: 125px;
   object-fit: contain;
   float: right;
 }

 .checkbox:checked + label {
   color: black;
 }

 .pagination a:hover {
   color: #334155;
 }

 .error {
  color: red;
 }