<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body>
    <%= render 'shared/header' %>

    <%= tag.div class: 'container mx-auto p-10 pt-24 text-slate-700' do %>
      <%= yield %>
    <% end %>
  </body>
</html>
