<!DOCTYPE html>
<html>
  <%= render 'shared/head' %>

  <body>
    <%= render 'shared/header' %>

    <%= tag.div class: 'pt-16 p-6 text-slate-700 text-xs sm:text-sm' do %>
      <%= yield %>
    <% end %>
  </body>
</html>
